body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}
h1 {
    color: #070707;
    border-radius: 20px;
    border-color: #070707;
    margin: 20px;
}
#data-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}